body {
	font-family:Roboto;
	font-weight:300;
	font-size:16px;
	color:#777;
	line-height:1.7;
}
h1,h2 {
	font-family:Roboto;
	font-weight:700;
}
ul li, ol li, li, li {
	list-style:none;
	line-height:inherit;
}
.text-left {
	text-align:left !Important;
}
a:hover {
	text-decoration:none;
}
.content-block {
	padding:50px 0;
	margin-top:50px;
}
.navbar-lg {
	min-height:76px;
}
.navbar-lg .navbar-brand {
	line-height:1;
	padding-top:20px;
	padding-bottom:26px;
	font-size:30px;
}
.navbar-toggle:before {
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
}
header .navbar-white a {
	color: #d81159;
	font-weight:700;
}
.item.content,.item.portfolio,.item.contact {
	padding-top:40px;
	padding-bottom:0px;
}
.padding-top-100 {
	padding-top:180px !important;
}
.padding-bottom-40 {
	padding-bottom:40px !important;
}
header .navbar-white {
	background:#fff;
	box-shadow:0px 3px 2px 0px rgba(50,50,50,0.1);
}
.item.header {
	background-image:url(../images/homeimg.jpg);
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}
.navbar-nav,.navbar>.container .navbar-brand {
	font-family:Dosis;
	text-transform:uppercase;
}
	.text-homeimage {
	text-align:center;
	color:#73d2de;
	text-shadow: 5px 5px 5px black;
	z-index:2;
	position:relative;
	font-size:75px;
	line-height:90px;
	text-transform:uppercase;
	padding-top:190px;
	padding-bottom:190px;
	font-weight:700;
	font-family:Dosis;
}
.text-pageheader {
	text-align:center;
	color:#73d2de;
	text-shadow: 5px 5px 5px black;
	z-index:2;
	position:relative;
	font-size:45px;
	line-height:90px;
	text-transform:uppercase;
	padding-top:100px;
	padding-bottom:100px;
	font-weight:bolder;
	font-family:Dosis;
}
.subtext-image {
	text-transform:none;
	font-weight:100 !Important;
}
.toparea {
	background:#fff;
	margin-top:-100px;
	padding-top:30px;
}
h1 {
	font-size:22px;
	line-height:28px;
	color:#444;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:0;
}
/* Project */
img {
	max-width: 100%;
}
/*Project Box*/
.imgproject {
	max-height:300px;
	overflow:hidden;
	display:inline-block;
}
.projectbox {
	background:#fff;
	padding:13px;
	border:1px solid #e4e4e4;
	margin-bottom:30px;
}
.projectbox h1 {
	display:block;
	font-size:17px;
	text-transform:uppercase;
	margin-top:15px;
	border-bottom:double medium #eee;
	padding-bottom:15px;
	margin-bottom:10px;
	font-weight:500;
	color:#333;
}
.project-details {
	padding:6px 0 0 0;
	text-align:center;
	color:#444;
}
.projectbox .deployed {
	font-weight:400;
}
.resume {
	text-align: center;
}
.btn-dark {
	background: #333;
	color: #fff !important;
	border: 1px solid #333;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	padding: 14px 10px
}
.projectimage {
	position:relative;
	 max-height:300px;
}
.slide-text {
	position:relative;
	color:#666;
	overflow:hidden;
	text-align:center;
	font-size:22px;
	font-weight:300;
	line-height:35px;
	max-width:75%;
	margin:0px auto;
	margin-top:0px;
}
.button {
	font-size:20px;
	border:0px;
	padding:7px 20px;
	text-decoration:none;
	color:#444;
	text-align:center;
	font-weight:400;
	background:#fff;
	text-transform:uppercase;
	border-radius:0;
	border-bottom:5px solid rgba(0,0,0,0.1);
	background-color:#00bba7;
	color:#fff;
}

.slide-text {
	position:relative;
	color:#666;
	overflow:hidden;
	text-align:center;
	font-size:22px;
	font-weight:300;
	line-height:35px;
	max-width:75%;
	margin:0px auto;
}
.slide-text img {
	border-radius:50%;
	max-width:100px;
	margin:20px 0;
}
.slide-text p {
	margin-top:0px;
	font-size:19px;
}
.slide-text a p {
	color:#666;
}
.slide-text h2 {
	font-style:normal;
	font-size:24px;
	line-height:28px;
	color:#444;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:15px;
	margin-top:0;
}
.footer ul.social-iconsfooter li {
	display:inline-block;
	float:none;
	position:relative;
	background:transparent;
	margin-right:5px;
	border: none;
}
.footer ul.social-iconsfooter li a {
	color:#fff;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
	font-size: 30px;
}
.footer {
	background:#8F2D56;
	color:#999;
	font-size:14px;
	padding:20px 0 10px 0;
	margin-top:0px;
}
ul,ol {
	-moz-padding-start:0px;
	-webkit-padding-start:0px;
	-khtml-padding-start:0px;
	-o-padding-start:0px;
	padding-start:0px;
	padding-left:0px;
}
.footernote {
	font-size:20px;
	color:#fff;
}
.footer a {
	color:#00bba7;
}
#contactform input,#contactform textarea {
	border:0px;
	border:1px solid #eee;
	width:100%;
	background-color:transparent;
	padding:14px 10px;
	margin-bottom:20px;
	border-radius:0;
	font-size:14px;
}
#contactform .btn {
	background:#333;
	color:#fff;
	border:1px solid #333;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}
.done {
	display:none;
}
@media (min-width:768px) {
	.navbar-lg .navbar-nav>li>a {
		padding-top:26px;
		padding-bottom:26px;
		 font-size:18px;
	}
	.navbar-lg .navbar-nav>li>a:hover,.navbar-lg .navbar-nav>li>a:active {
		background:#fff;
		color: #ffbc42;
	}
}